.happyprime-block-latest-custom-posts_taxonomy-setting:not(:only-child) {
	border-bottom: 1px solid #e2e4e7;
	padding: 0px 0 12px 32px;
	position: relative;
}

.happyprime-block-latest-custom-posts_taxonomy-setting:not(:first-of-type) {
	padding-top: 16px;
}

.happyprime-block-latest-custom-posts_taxonomy-setting:not(:only-child) .components-base-control {
	margin-bottom: 0;
}

.happyprime-block-latest-custom-posts_remove-taxonomy-setting {
	border-radius: 50%;
	left: 6px;
	padding: 0;
	position: absolute;
	top: 15px;
}

.happyprime-block-latest-custom-posts_taxonomy .components-base-control.components-radio-control {
	padding: 16px 0 0 32px;
}